[Unit]
Description=SSH Key Agent
Documentation=man:ssh-agent(1)
After=network.target

[Service]
Type=simple
UMask=0077
ExecStartPre=/usr/bin/rm -f %t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a %t/ssh-agent.socket
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
