[Unit]
Description=SSH Key Agent
Documentation=man:ssh-agent(1)
After=network.target

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
# Run ssh-agent in the foreground (-D) with the designated socket path
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
