[user]
	email = {{ .email }}
	name = {{ .name }}
[credential]
{{- if .is_wsl }}
	helper = !f() { if [ -x '/mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe' ]; then '/mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe' "$@"; elif command -v git-credential-manager >/dev/null 2>&1; then git-credential-manager "$@"; fi; }; f
{{- else }}
	helper = !f() { if command -v git-credential-manager >/dev/null 2>&1; then git-credential-manager "$@"; elif command -v git-credential-manager-core >/dev/null 2>&1; then git-credential-manager-core "$@"; fi; }; f
	credentialStore = secretservice
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[include]
	path = ~/.config/git/config.local
